body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
}

p, div {
    font-family: 'Roboto`', sans-serif;
}

.content-container {
  padding: 15px 15px;
}

footer {
    background-color: #D5D5D5;
    padding: 0px;
}