html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

p, div {
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
  background-color: #858585;
  border-bottom: 2px solid #ffb400;
  height: 40px;
  padding-top: 7px;
}

nav > div > a {
  text-decoration: none;
  color: #f2f0ef;
}

nav > div > a:visited {
  text-decoration: none;
  color: #f2f0ef;
}

nav > div > a:hover {
  text-decoration: none;
  color: #FFAF5E;
}

nav > div > a:active {
  text-decoration: none;
  color: #FF8000;
}

nav > div > a.brand {
  font-size: 120%;
}

.content-container {
  padding: 15px 15px;
}

.footer {
  background-color: #D5D5D5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.footer > div > p {
    padding-top: 5px;
    margin-bottom: 0;
}

.no-bullets {
    list-style-type: none;
    padding: 0px;
}

.no-bullets > li {
    padding-bottom: 10px;
}
